<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>Login Page</h2>

<form id="loginForm">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
        <a type="button" href="/registerPage">Register</a>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#loginForm').submit(function(event) {
            event.preventDefault(); // Formun otomatik submit olmasını engellemek için

            var formData = {
                username: $('#username').val(),
                password: $('#password').val()
            };

            $.ajax({
                type: 'POST',
                url: '/login/auth',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    // Başarılı yanıt durumunda yapılacak işlemler
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    // Hata durumunda yapılacak işlemler
                    console.log(error);
                }
            });
        });
    });
</script>

</body>
</html>
