<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/login.css"></head>
<div th:insert="~{fragments/head :: head}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<form id="registerForm">
    <div class="login-container">
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="username">Surname</label>
            <input type="text" id="surname" name="surname" required>
        </div>
        <div class="form-group">
            <label for="email">E-posta:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Parola:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
        <button type="submit">Kayıt Ol</button>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#registerForm').submit(function(event) {
            event.preventDefault(); // Formun varsayılan gönderimini engelle

            var formData = {
                username: $('#username').val(),
                name: $('#name').val(),
                surname: $('#surname').val(),
                password: $('#password').val(),
                email: $('#email').val()
            };

            $.ajax({
                type: 'POST',
                url: '/register/user',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    alert('Kayıt başarıyla tamamlandı');

                    window.location.href = '/login';
                },
                error: function(xhr, status, error) {
                    alert('Kayıt işlemi başarısız oldu. Hata: ' + error);
                }
            });
        });
    });
</script>
</body>
</html>
